<div class="col-12 col-md-8 m-auto align-center mt-5">
  <h2 class="text-center border border-black bg-info m-0 p-2">Create Post</h2>
  <div>
    <form class="d-flex flex-column border border-black p-3">
      <label class="m-2"> Title </label>
      <textarea id="create-title" class="m-2" rows="1"></textarea>
      <label class="m-2"> Content </label>
      <textarea id="create-content" class="m-2" rows="5"></textarea>
      <button
        id="submit-new-post-btn"
        class="btn btn-primary m-2"
        type="submit"
      >Create</button>
    </form>
  </div>
</div>
<script src="/js/create-post.js"></script>